page-change-password {
    .input-text-align-right{
        .text-input{
            text-align: right;
        }
    }
    .submit-btn{
        margin: 0px;
        button{
            padding: 30px;
        }
    }
}
