<div class="main-content bot">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 user-section">
                <div class="row">
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-white" (click)="getAllUserWithFilter()">Refresh List</button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-white" (click)="massMessages()">Message To All</button>
                    </div>
                </div>
                <div class="row">
                    <form role="search">
                        <!-- <div class="col-sm-1">&nbsp;</div> -->
                        <div class="form-group form-search is-empty p-r-0" [ngClass]="{'col-sm-7':searchkey.length>0,'col-sm-9':searchkey.length==0}">
                            <input type="text" class="form-control" name="searchkey" [(ngModel)]="searchkey" placeholder="Search">
                            <span class="material-input "></span>
                        </div>
                        <div class="col-sm-2 p-r-0">
                            <button type="submit" (click)="getAllUserWithFilter()" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">search</i>
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                        <div class="col-sm-2 p-r-0" *ngIf="searchkey.length>0">
                            <button type="submit" (click)="searchkey='';getAllUserWithFilter()" class="btn btn-white btn-round btn-just-icon">
                                <i class="material-icons">close</i>
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </form>
                </div>
                <br/>
                <div class="row user-list" *ngFor="let user of userList" [ngClass]="{'alert alert-info':user._id == selectedUser._id}">
                    <div class="col-sm-3">
                        <img class="user-image" *ngIf="user.currentProfile && user.currentProfile.secure_url" [src]="user.currentProfile.secure_url">
                        <i *ngIf="!user.currentProfile || !user.currentProfile.secure_url" class="material-icons" style="font-size: 50px;padding: 3px 11px;">person</i>
                    </div>
                    <div class="col-sm-6">
                        {{user.firstName}}
                        <br/>{{user.email}}
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-primary btn-simple btn-sm" (click)="selectUser(user)">View</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-1">&nbsp;</div>
            <div class="col-sm-6">
                <div class="col-sm-12 selected-user" *ngIf="selectedUser._id">
                    <div class="col-sm-2">
                        <img class="user-image" *ngIf="selectedUser.currentProfile && selectedUser.currentProfile.secure_url" [src]="selectedUser.currentProfile.secure_url">
                        <i *ngIf="!selectedUser.currentProfile || !selectedUser.currentProfile.secure_url" class="material-icons" style="font-size: 50px;padding: 3px 11px;">person</i>
                    </div>
                    <div class="col-sm-7">
                        {{selectedUser.firstName}}
                        <br/>{{selectedUser.email}}
                    </div>
                    <div class="col-sm-3">
                        <button class="btn btn-primary btn-simple btn-sm" *ngIf="conversationId" (click)="openModal('bot-reply-form');">Reply</button>
                    </div>
                </div>
                <!-- <div class="col-sm-12 text-center" *ngIf="selectedUser._id">
                    <span>the first message is the latest one.</span>
                </div> -->
                <div class="col-sm-12 convo-section" id="convo-section">
                    <div *ngIf="conversation.messages && conversation.messages.length >0 ">
                        <div *ngFor="let msg of conversation.messages" class="conversation row" [ngClass]="(msg.createdBy._id != selectedUser._id)?'me':'them'">
                            <div class="msg-container col-sm-12" *ngIf="msg.body">
                                <div class="user-msgs">
                                    <p class="msg-name">
                                        {{msg.createdBy.firstName}}
                                    </p>
                                    {{msg.body}}
                                    <div>
                                        <p class="msg-time">
                                            {{msg.createdAt | date:userService.getDateFormate(msg.createdAt)}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="msg.botBody" class="msg-container col-sm-12">
                                <div class="bot-msgs">
                                    <p class="msg-name">
                                        {{msg.createdBy.firstName}}
                                    </p>

                                    <div *ngFor="let bmsg of msg.botBody1">
                                        <div *ngIf="bmsg.body ">{{bmsg.body}}</div>
                                        <div *ngIf="bmsg.image " class="img-container ">
                                            <img [src]="bmsg.image " />
                                        </div>
                                        <!-- <div *ngIf="bmsg.replies ">
                                        <button ion-button round (click)="sendQuestion(r) " small *ngFor="let r of bmsg.replies ">{{r}}</button>
                                    </div> -->
                                        <div *ngIf="bmsg.link " style="margin-top:5px ">
                                            <a href="{{bmsg.link}} " target="_blank ">{{bmsg.linkText || 'Click here'}}</a>
                                        </div>
                                        <div *ngIf="bmsg.location || bmsg.address " style="margin-top:5px ">
                                            <a>{{bmsg.linkText || 'Show on map'}}</a>
                                        </div>
                                    </div>
                                    <p class="msg-time">
                                        {{msg.createdAt | date:userService.getDateFormate(msg.createdAt)}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--Bot repla  modal start -->
<modal id="bot-reply-form">
    <div class="modal">
        <div class="modal-body col-md-4 col-md-offset-4">
            <div class="card">
                <form #frmBotReply="ngForm" novalidate (ngSubmit)="save(frmBotReply.value, frmBotReply.valid,'bot-reply-form')">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons">featured_play_list</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Reply to {{selectedUser.firstName}}</h4>
                        <div class="form-group col-lg-12">
                            <textarea rows="3" type="text" class="form-control" name="body" placeholder="Description" [(ngModel)]="body"></textarea>
                        </div>
                        <div class="form-group col-lg-12">
                            <input type="text" class="form-control" placeholder="Address" name="adderess" [(ngModel)]="adderess" />
                        </div>
                        <div class="form-group col-lg-12">
                            <input type="text" class="form-control" placeholder="Link" name="link" [(ngModel)]="link" />
                            <span *ngIf="!linkIsValid">Link is invalid.</span>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-info btn-fill btn-wd" type="submit" [disabled]="!frmBotReply.valid">Send</button>
                            <button type="button" class="btn btn-default" (click)="closeModal('bot-reply-form');">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>
<!--Bot repla modal end -->

<!--Bot repla'em all modal start -->
<modal id="mass-bot-reply-form">
    <div class="modal">
        <div class="modal-body col-md-4 col-md-offset-4">
            <div class="card">
                <form #frmMassBotReply="ngForm" novalidate (ngSubmit)="sendMassMessage(frmMassBotReply.value, frmMassBotReply.valid,'mass-bot-reply-form')">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons">featured_play_list</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Message To All</h4>
                        <!-- <p class="note">If "All student" is check then selected residence will be ingored.</p>
                        <div class="col-sm-12">
                            <div class="col-sm-6 p-0">
                                <div class="checkbox">
                                    <label>
                                        All student:&nbsp;&nbsp;<input type="checkbox" name="toAllstudent" [(ngModel)]="toAllstudent">
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <select id="select-resicense" class="selectpicker m-3" [disabled]="toAllstudent" name="recipent" [(ngModel)]="selectedResidense"
                                    data-style="select-with-transition" title="Residence" data-size="6">
                                    <option [ngValue]="''">Select Residence</option>
                                    <option *ngFor="let residence of userService.residenceList" [ngValue]="residence.value">
                                            {{residence.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div *ngIf="selectOneRecipient" class="row text-center" style="color:red">
                            Please select one of the recipient.
                        </div> -->
                        <div class="m-t-5 form-group col-lg-12">
                            <textarea rows="3" type="text" class="form-control" name="body" placeholder="Description" [(ngModel)]="body"></textarea>
                        </div>
                        <div class="m-t-5 form-group col-lg-12">
                            <input type="text" class="form-control" placeholder="Address" name="adderess" [(ngModel)]="adderess" />
                        </div>
                        <div class="m-t-5 form-group col-lg-12">
                            <input type="text" class="form-control" placeholder="Link" name="link" [(ngModel)]="link" />
                            <span *ngIf="!linkIsValid">Link is invalid.</span>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-info btn-fill btn-wd" type="submit" [disabled]="!frmMassBotReply.valid">Send</button>
                            <button type="button" class="btn btn-default" (click)="closeModal('mass-bot-reply-form');">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>
<!--Bot repla'em all modal end -->