<div class="main-content">
    <modal id="notification">
        <div class="modal">
            <div class="modal-body col-md-6 col-md-offset-3">
                <div class="card">
                    <form #frmNotification="ngForm" novalidate>
                        <div class="card-header card-header-icon" data-background-color="blue">
                            <i class="material-icons">notification</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">Push Notification</h4>
                            <div class="form-group label-floating" *ngIf="userInfo.role == 'admin'">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="checkbox">
                                            <label>
                                                Is Custom:&nbsp;&nbsp;<input (change)="changeCustomNotification()" type="checkbox" name="isCustomNotification" [(ngModel)]="isCustomNotification">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="isCustomNotification">
                                    <div class="col-sm-4">
                                        <select id="select-resicense" class="selectpicker" name="recipent" [(ngModel)]="selectedResidense" data-style="select-with-transition"
                                            title="All Residence" data-size="6">
                                            <option *ngFor="let residence of residenceListForSearch" [ngValue]="residence.value">
                                                    {{residence.name}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="checkbox">
                                            <label>
                                                To All student:&nbsp;&nbsp;<input type="checkbox" name="toAllstudent" [(ngModel)]="toAllstudent">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div>
                                            <input type="text" name="select-user" [disabled]="toAllstudent" placeholder="Search User" class="form-control" [(ngModel)]="searchText">
                                        </div>
                                        <div class="noti-user-selection">
                                            <div *ngFor="let user of usersForNotifications | peersearch:['firstName','lastName',searchText, selectedResidense, selectedUserList]"
                                                class="noti-user-selection-list" (click)="selectUserForNotification(user)">
                                                {{user.firstName + ' ' + user.lastName}}
                                            </div>
                                        </div>
                                        <!-- <select class="selectpicker" [disabled]="toAllstudent" name="recipent" [(ngModel)]="selectedUserList" multiple="multiple"
                                            data-style="btn btn-info btn-round" title="Recipent" data-size="6">
                                            <option *ngFor="let user of usersForNotifications" [ngValue]="user._id">
                                                    {{user.firstName + ' ' + user.lastName}}
                                            </option>
                                        </select> -->
                                    </div>
                                </div>
                                <div class="row" *ngIf="isCustomNotification">
                                    <div class="col-sm-12">
                                        <span *ngFor="let user of selectedUserList; let i=index" class="noti-user-selected-list">
                                            {{user.firstName + ' ' + user.lastName}}
                                            <span (click)="removeSelectedUser(i)"><i class="material-icons noti-selected-user-remove">close</i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="selectOneRecipient" class="text-center" style="color:red">
                                Sorry sir, but you haven't selected any recipient.
                            </div>
                            <div class="label-floating">
                                <textarea type="text" class="form-control" placeholder="title...." name="title" [(ngModel)]="notificationModal.title" #title="ngModel"></textarea>
                            </div>
                            <div class="label-floating">
                                <textarea type="text" class="form-control" placeholder="Notification...." name="message" [(ngModel)]="notificationModal.message"
                                    #message="ngModel" rows="5"></textarea>
                            </div>
                            <div class="text-center">
                                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                    <div class="fileinput-new thumbnail">
                                        <img src="../../assets/img/image_placeholder.jpg" alt="...">
                                    </div>
                                    <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                    <div>
                                        <span class="btn btn-rose btn-simple btn-file">
                                        <span class="fileinput-new">Add Image</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" accept="application/pdf,image/png,image/jpeg,image/gif" [(ngModel)]="notification.image" (change)="handleInputFile($event)"
                                            name="notificationimage" />
                                        </span>
                                        <a href="#pablo" id="rm-notification-img" class="btn btn-danger btn-simple fileinput-exists" (click)="removeImage()" data-dismiss="fileinput">Remove</a>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="button" (click)="addNotification(frmNotification.value, frmNotification.valid,'notification')" class="btn btn-info btn-fill btn-wd"
                                    [disabled]="!((frmNotification.value.title && frmNotification.value.message) || notification.image)">Create</button>
                                <button class="btn btn-default" (click)="closeModal('notification');">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-background"></div>
    </modal>

    <modal id="display-notification">
        <div class="modal">
            <div class="modal-body col-md-4 col-md-offset-4">
                <div class="card card-profile">
                    <div class="card-content">
                        <h4 class="card-title">{{displayNotification.body?displayNotification.body.title:''}}</h4>
                        <h6 class="category text-gray">{{displayNotification.createdAt | date:'medium'}}</h6>
                        <p class="description">
                            {{displayNotification.body?displayNotification.body.message:''}}
                        </p>
                        <div class="text-center" *ngIf="displayNotification.body&&displayNotification.body.image">
                            <img *ngIf="checkFileIfImageToDisplay(displayNotification.body.image.secure_url)" [src]="displayNotification.body.image.secure_url">
                            <a *ngIf="!checkFileIfImageToDisplay(displayNotification.body.image.secure_url)" [href]="displayNotification.body.image.secure_url"
                                target="_blank">Open pdf</a>
                        </div>
                        <div *ngIf="displayNotification.type == 21">
                            <div *ngIf="displayNotification.recipients && displayNotification.recipients.length > 0">
                                <b>Recipient: </b>
                                <span *ngFor="let user of displayNotification.recipients">{{user.user.firstName+' '+user.user.lastName+', '}}</span>
                            </div>
                            <div *ngIf="(!displayNotification.recipients || displayNotification.recipients.length == 0) && displayNotification.residence">
                                <b>Recipient: </b>{{displayNotification.residence}}
                            </div>
                            <div *ngIf="(!displayNotification.recipients || displayNotification.recipients.length == 0) && !displayNotification.residence">
                                <b>Recipient: </b>All Students
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-default" (click)="closeModal('display-notification');">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-background"></div>
    </modal>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-info" style="margin-left:80%;" (click)="showNotification()">Create Notification</button>

                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="purple">
                        <i class="material-icons">assignment</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Notification List</h4>
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="material-datatables table-responsive">
                            <div *ngIf="recordStatus">
                                <p id="noticenter">Notification not available</p>
                            </div>

                            <table *ngIf="!recordStatus" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>No.</th>
                                        <th>Title</th>
                                        <th>Message</th>
                                        <th *ngIf="userInfo.role == 'admin'">Created By</th>
                                        <th>Created At</th>
                                        <th>Type</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of notification;let i = index">
                                        <!--  <template [ngIf]="i<10">  -->
                                        <td></td>
                                        <td>{{i+1}}</td>
                                        <td>{{item.body.title}}</td>
                                        <td>
                                            <span class="restrictbody">{{item.body.message}}</span>
                                        </td>
                                        <td *ngIf="userInfo.role == 'admin'">{{item.createdBy.firstName}} {{item.createdBy.lastName}} </td>
                                        <td>{{item.createdAt | date:'medium'}}</td>
                                        <td>{{item.type==21?'Custom':'University'}}</td>
                                        <td><button type="button" rel="tooltip" (click)="openPopToDIsplay(item)" class="btn btn-success btn-sm">View</button></td>
                                        <!--  </template> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>