page-registration {
  .hide-anim {
      height:0px;
      overflow: hidden;
      -webkit-transition:all, 0.5s linear;
      -moz-transition: all, 0.5s linear;
      -ms-transition: all, 0.5s linear;
      -o-transition: all, 0.5s linear;
      transition: all, 0.5s linear;
  }
  .show-anim {
      height:auto;
      overflow: hidden;
      -webkit-transition:all, 0.5s linear;
      -moz-transition: all, 0.5s linear;
      -ms-transition: all, 0.5s linear;
      -o-transition: all, 0.5s linear;
      transition: all, 0.5s linear;
  }
  .auth-btn{
    color: color($colors, authbtn);
    background-color: color($colors, authbtnback);
    min-width: 200px;
  }
}
