<ion-content center text-center (click)="goBack()">
  <!-- <div class="reg-div">
    <ion-slides pager="true">
      <ion-slide padding>
        <ion-icon name="list-box-outline"></ion-icon>
        <h3 class="txt-name">Feed</h3>
        <h3 class="txt-detail">Communicate and engage with your community!</h3>
        <div class="img-detail">
          <img class="img-screen" src="assets/img/feed.png" alt="">
        </div>
      </ion-slide>
      <ion-slide padding>
        <ion-icon name="calendar-outline"></ion-icon>
        <h3 class="txt-name">Event</h3>
        <h3 class="txt-detail">Create fun events and meet more people!</h3>
        <div class="img-detail">
          <img class="img-screen" src="assets/img/event.png" alt="">
        </div>
      </ion-slide>
      <ion-slide padding>
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <h3 class="txt-name">Messages</h3>
        <h3 class="txt-detail">Have a question and need an answer? Ask the InfoBot!</h3>
        <div class="img-detail">
          <img class="img-screen" src="assets/img/bot.png" alt="">
        </div>
      </ion-slide>
      <ion-slide padding>
        <button ion-button clear class="btn-finish" (click)="gotoProfile()">Finish</button>
        <ion-icon name="ios-people-outline"></ion-icon>
        <h3 class="txt-name">Peers</h3>
        <h3 class="txt-detail">Find people living around you on campus!</h3>
        <div class="img-detail">
          <img class="img-screen" src="assets/img/peers.png" alt="">
        </div>
      </ion-slide>
    </ion-slides>
  </div> -->
  <div class="haller-tour feed-intro" [ngClass]="{'show-intro':showFeedIntroClass}" *ngIf="showFeedIntro">
    <h1 text-center class="title">News Feed</h1>
    <h3 text-center class="description">Trying to find a lost item, get notes for class, or sell your textbooks?</h3>
    <h3 text-center class="description">Post about it here and wait for other students to get back to you!</h3>
  </div>
  <div class="haller-tour event-intro" [ngClass]="{'show-intro':showEventIntroClass}" *ngIf="showEventIntro">
    <h1 text-center class="title">Event Feed</h1>
    <h3 text-center class="description">Want to get involved on campus or find other students to do something with?</h3>
    <h3 text-center class="description">Easily set up or find things to do with people living around you here!</h3>
  </div>
  <div class="haller-tour message-intro" [ngClass]="{'show-intro':showMsgIntroClass}" *ngIf="showMsgIntro">
    <h1 text-center class="title">Messaging</h1>
    <h3 text-center class="description">Don’t get frustrated looking for university related information, ask AI Jaybird and she’ll get you the answer right away!</h3>
    <h3 text-center class="description">You can also contact people living around you. Private message one on one or create a group!</h3>
  </div>
  <div class="haller-tour peer-intro" [ngClass]="{'show-intro':showPeerIntroClass}" *ngIf="showPeerIntro">
    <h1 text-center class="title">Peers List</h1>
    <h3 text-center class="description">Look for people that might have similar interests or come from the same hometown as you!</h3>
    <h3 text-center class="description">You can search the peers list based off someone’s name, interests, hometown, or major!</h3>
  </div>
</ion-content>
