<ion-header>
  <ion-toolbar no-border-top color="primary">
    <ion-buttons left>
      <button (click)="goToAddress('Settings')" ion-button icon-only><ion-icon name="ios-settings-outline"></ion-icon></button>
    </ion-buttons>
    <ion-title>HallerBot</ion-title>
    <!--<ion-buttons right>
      <button (click)="goToAddress('EventPage')" ion-button icon-only><ion-icon name="ios-calendar-outline"></ion-icon></button>
    </ion-buttons>-->
     <ion-buttons right>
      <button (click)="goToAddress('Notifications')" ion-button icon-only><ion-icon name="ios-notifications-outline"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content #content class="keyboard-show-content">
  <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)" position="top" [enabled]="enableInfiniteScroll">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading previous messages...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
  <ion-grid *ngIf="conversation.messages && conversation.messages.length >0 ">
    <ion-row *ngFor="let msg of conversation.messages; let last = last; let i=index" id="msg-{{i}}" class="conversation" [ngClass]="(msg.createdBy == userInfo._id || msg.createdBy._id == userInfo._id)?'me':'them'">
      <ion-col col-1 *ngIf="msg.createdBy == userInfo._id"></ion-col>
      <ion-col col-11>
        <div class="msg-container" *ngIf="msg.body">
          <div>{{msg.body}}</div>
          <ion-note class="msg-time">
            {{msg.createdAt | date:getMessageDateFormate(msg.createdAt)}}
          </ion-note>
        </div>
        <div *ngIf="msg.botBody" class="msg-container">
          <div *ngFor="let bmsg of msg.botBody1">
            <div *ngIf="bmsg.body">{{bmsg.body}}</div>
            <div *ngIf="bmsg.image" class="img-container"><img [src]="bmsg.image" /></div>
            <div *ngIf="bmsg.replies">
              <button ion-button round (click)="sendQuestion(r)" small *ngFor="let r of bmsg.replies">{{r}}</button>
            </div>
            <div *ngIf="bmsg.link" style="margin-top:5px"><a (click)="openExternalLink(bmsg.link)">{{bmsg.linkText || 'Click here'}}</a></div>
            <div *ngIf="bmsg.location || bmsg.address" style="margin-top:5px"><a (click)="openMap(bmsg)">{{bmsg.linkText || 'Show on map'}}</a></div>
          </div>
          <ion-note class="msg-time">
            {{msg.createdAt | date:getMessageDateFormate(msg.createdAt)}}
          </ion-note>
        </div>
      </ion-col>
      <ion-col col-1 *ngIf="msg.createdBy != userInfo._id"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-row class="sender-row">
    <ion-col col-10>
      <ion-textarea autocomplete="on" spellcheck="on" autocorrect="on" [(ngModel)]="question" (input)="newMessageChange($event)"
        rows="1" class="new-msg" type="text" placeholder="Question..."></ion-textarea>
    </ion-col>
    <ion-col col-2 style="padding-left: 5px;"><button color="dark" small clear ion-button (click)="sendQuestion()">Ask</button></ion-col>
  </ion-row>
</ion-footer>