<!--
  Generated template for the Event page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar no-border-top color="primary">
    <ion-buttons left>
      <button (click)="gotoProfileSetting()" ion-button icon-only><ion-icon name="ios-settings-outline"></ion-icon></button>
    </ion-buttons>
    <ion-segment [(ngModel)]="whichfeed" color="colorwhite">
      <ion-segment-button value="residents" (ionSelect)="changeSegment('residents')">
        Hall
      </ion-segment-button>
      <ion-segment-button value="discovery" (ionSelect)="changeSegment('discovery')">
        Campus
      </ion-segment-button>
    </ion-segment>
    <ion-buttons right>
      <button (click)="gotoEventNew()" *ngIf="allowUserToPost()" ion-button>Create</button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="ios-arrow-down-outline" pullingText="Pull to refresh" refreshingSpinner="bubbles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <!--<button ion-button block (click)="presentToast()">Present Toast</button>-->
  <ion-card *ngFor="let event of eventList">
    <ion-item>
      <ion-avatar item-left (click)="viewProfile(event.createdBy)">
        <!-- <img [src]="(event.createdBy && event.createdBy.currentProfile) ? event.createdBy.currentProfile.secure_url : userAvatar"> -->
        <img [src]="feedProvider.httpClient.getProfileImageToDisplay(event.createdBy)">
      </ion-avatar>
      <h2 (click)="viewProfile(event.createdBy)">{{(event.createdBy ? event.createdBy.firstName : 'No One' ) + ' ' + (event.createdBy ? event.createdBy.lastName : 'No
        One')}}
      </h2>
      <ion-note>{{event.createdAt | date: getDateFormatr(event.createdAt)}}</ion-note>
      <button ion-button icon-only item-right clear small color="newlight" (click)="presentEventActionSheet(event)"><ion-icon ios="ios-arrow-down" md="md-arrow-dropdown" color="newlight"></ion-icon></button>
    </ion-item>
    <ion-card-content center text-center>
      <div (click)="gototEventDetail(event)" class="ev-detail">
        <h2><b>{{event.title}}</b>&nbsp;
          <ion-icon *ngIf="event.createdBy.isRA" style="color:green" name="md-checkmark-circle-outline"></ion-icon>
        </h2>
        <h3>{{event.time | date: 'shortTime'}}&nbsp;{{event.date | date: 'MMMM d, yyyy '}}</h3>
        <p>{{event.location}}</p>
        <p style="margin-top:10px">{{event.details}}</p>
      </div>
      <img *ngIf="event.cover.length > 0" (click)="gototEventDetail(event)" [src]="event.cover[event.cover.length - 1].secure_url">
      <p style="margin-top:10px"><b>{{event.going.length}} people are going</b></p>
      <button class="ev-join" *ngIf="!event._userGoing" (click)="joinEvent(event)" ion-button>Join</button>
      <button class="ev-join" *ngIf="event._userGoing" (click)="leaveEvent(event)" ion-button outline>Joined</button>
      <!-- (click)="confirmEventLeaveAction(event)"-->
    </ion-card-content>
    <ion-row>
      <ion-col *ngIf="event.liked.length > 0 || event.comments.length > 0">
        <button style="float:left" ion-button color="dark" clear small (click)="openLikeModel(event.liked,null)">{{event.liked.length +' Likes'}}</button>
        <button style="float:right" ion-button color="dark" clear small (click)="openLikeModel(null,event.comments)">{{event.comments.length + ' Comments'}}</button>
        <!-- <span style="float:left" *ngIf="event.liked.length > 0" (click)="openLikeModel(event.liked,null)">{{event.liked.length +' Likes'}}</span>
        <span style="float:right" *ngIf="event.comments.length > 0" (click)="openLikeModel(null,event.comments)">{{event.comments.length + ' Comments'}}</span> -->
      </ion-col>
    </ion-row>
    <ion-row class="event-actions">
      <ion-col col-4 center text-center>
        <button ion-button icon-left clear small color="{{event._userLiked ? 'primary':'newlight'}}" (click)="likeEvent(event)">
          <ion-icon name="{{event._userLiked ? 'ios-thumbs-up':'ios-thumbs-up-outline'}}"></ion-icon>&nbsp;Like</button>
      </ion-col>
      <ion-col col-4 center text-center>
        <button ion-button icon-left clear small color="newlight" (click)="gototEventDetail(event)"><ion-icon class="icon comment-icon"></ion-icon>&nbsp;Comment</button>
      </ion-col>
      <ion-col col-4 center text-center>
        <button ion-button icon-left clear small color="{{event._userStarred ? 'primary':'newlight'}}" (click)="starEvent(event)">
          <ion-icon name="{{event._userStarred ? 'ios-heart':'ios-heart-outline'}}"></ion-icon>&nbsp;Save</button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
