page-event-new {
    ion-datetime.datetime-ios{
        // padding: 11px 8px 11px 16px;
        padding: 0px !important;
        margin: 11px 8px 11px 0px;
    }
    ion-datetime.datetime-md{
        // padding: 11px 8px 11px 16px;
        padding: 0px !important;
        margin: 11px 8px 11px 8px;
    }
    .event-image{
        img{
            max-height: 400px;
            max-width: 100%;
            display: block;
            height: auto;
            width: auto;
            margin-left: auto;
            margin-right: auto;
        }
        .remove-image-btn{
            position: absolute;
            padding: 0px;
            max-width: 25px;
            max-height: 15px;
            margin-top: 10px;
            background: transparent;
            box-shadow: none;
        }
    }
    .footer{
        background-color: #fff;
        &.new-post{
            button{
                margin: 0px;
            }
        }
    }
}
