<div class="card col-md-8" style="width:40% !important;margin-left: 29%;">
                <h4 style="margin-left:36%">Reset Password</h4>
                <form #frmPost="ngForm" novalidate (ngSubmit)="save(frmPost.value, frmPost.valid,'forgot')">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons">featured_play_list</i>
                    </div>
                    <div class="card-content col-lg-8">
                     <h4 *ngIf="passwordMisMatch" class="alert alert-danger">Password and Confirm password should be same </h4>
                     <h4 *ngIf="EmailSend" class="alert alert-success">Your password has been changed successfully</h4>
                     
                        <div class="col-12" >
                            <div class="form-group col-4">
                                <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="password" minlength="4"  required
                 />          </div>
                             <div lass="form-group col-4">
                                 <input type="password" class="form-control" minlength="4" placeholder=" Confirm Password" id="cpass" name="cpassword" [(ngModel)]="cpassword" required
                   />         </div>
                            
                        </div>
                        
                       
                        <div class="text-center">
                            <button type="button" (click)="emailChange(frmPost.value, frmPost.valid,'forgot')" class="btn btn-info btn-fill btn-wd"
                                [disabled]="!(frmPost.form.valid )">Change Password</button>
                            <button type="reset" class="btn btn-default" >Reset</button>
                        </div>
                    </div>
                </form>
            </div>