<!--
  Generated template for the Message page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary" hideBackButton>
    <ion-buttons left>
      <button ion-button (click)="goBack()">{{isNewConvo ? 'Cancel':'Back'}}</button>
    </ion-buttons>
    <ion-title>
      <ion-buttons *ngIf="recipients.length == 1">
        <button ion-button icon-right (click)="gotoMessageSettings()">
          <span>{{recipients[0].firstName + ' ' + recipients[0].lastName}}</span>
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons *ngIf="recipients.length > 1">
        <button ion-button icon-right [disabled]="checkIfUserHasLeft()" (click)="gotoMessageSettings()">
          <span>{{getGroupChatName()}} {{conversation.participants? (' (' + conversation.participants.length + ')'): ''}}</span>
          <ion-icon name="arrow-forward"></ion-icon>
        </button>
      </ion-buttons>
      <span *ngIf="recipients.length == 0">New Message</span>
    </ion-title>
    <ion-buttons right>
      <button ion-button (click)="showUserList()" *ngIf="isNewConvo">Enter Recipients</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #content>
  <ion-card *ngIf="isNewConvo" class="new-msg-card">
    <ion-grid>
      <ion-row>
        <ion-col col-12>
          <ion-input #searchParti class="new-msg" (click)="showUserList()" [ngModel]="searchInputText" type="text" placeholder="Enter Recipients"
            disabled="disable"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!--(keyup)="findParticipants($event)"-->
    <!--<ion-list class="seaarch-parti-list">
      <ng-template ngFor let-user [ngForOf]="userList | participantsearch:['firstName','lastName',searchText]">
        <ion-item *ngIf="user._id !== userInfo._id" (click)="selectRecipient(user,searchParti)">
          <ion-avatar item-left>
            <img [src]="user.currentProfile ? user.currentProfile.secure_url : userAvatar">
          </ion-avatar>
          <h2>{{(user.firstName || '') + ' ' + (user.lastName || '')}}</h2>
        </ion-item>
      </ng-template>
    </ion-list>-->
  </ion-card>

  <ion-grid *ngIf="conversation && conversation.messages">
    <ion-row *ngFor="let msg of conversation.messages" class="conversation" [ngClass]="(msg.createdBy._id == userInfo._id)?'me':'them'">
      <ion-col col-2 *ngIf="msg.createdBy._id != userInfo._id">
        <!-- <img class="user-image" [src]="msg.createdBy.currentProfile ? msg.createdBy.currentProfile.secure_url : userAvatar"> -->
        <img [src]="convoProvider.httpClient.getProfileImageToDisplay(msg.createdBy)">
      </ion-col>
      <ion-col col-10>
        <div class="msg-container">
          <div *ngIf="msg.image" (click)="viewFullImage(msg.image)" class="img-container"><img [src]="msg.image.secure_url" /></div>
          <div *ngIf="msg.giphy" class="img-container"><img [src]="msg.giphy.gif.url" /></div>
          <div>{{msg.body}}</div>
          <ion-note class="msg-time">
            {{msg.createdAt | date:getMessageDateFormate(msg.createdAt)}}
          </ion-note>
        </div>
      </ion-col>
      <ion-col col-2 *ngIf="msg.createdBy._id == userInfo._id">
        <!-- <img class="user-image" [src]="msg.createdBy.currentProfile ? msg.createdBy.currentProfile.secure_url : userAvatar"> -->
        <img [src]="convoProvider.httpClient.getProfileImageToDisplay(msg.createdBy)">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="checkIfUserHasLeft()">
    <ion-row>
      <ion-col col-12 text-center>
        You are no longer part of this conversation.
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="!checkIfUserHasLeft()">
  <ion-row *ngIf="localImage || cloudinaryProvider.gif.gif">
    <ion-col col-12 class="image-to-upload">
      <button ion-button icon-only color="dark" clear class="remove-image-btn" (click)="removeImage()"><ion-icon name="close"></ion-icon></button>
      <img *ngIf="localImage" [src]="localImage">
      <img *ngIf="cloudinaryProvider.gif.gif" [src]="cloudinaryProvider.gif.gif.url">
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-10>
      <ion-textarea [(ngModel)]="msgContent" (input)="newMessageChange($event)" rows="1" class="new-msg" type="text" placeholder="Message..."></ion-textarea>
    </ion-col>
    <ion-col col-2 style="padding-left: 5px;"><button color="dark" small clear ion-button (click)="sendMessage()">Send</button></ion-col>
  </ion-row>
  <ion-row class="msg-attachment">
    <ion-col col-6>
      <ion-icon (click)="takePicture()" name="camera"></ion-icon>
    </ion-col>
    <ion-col col-6>
      <ion-icon (click)="showGiphyGif()" class="icon gif-icon"></ion-icon>
    </ion-col>
  </ion-row>
</ion-footer>
