<div class="wrapper wrapper-full-page">
    <modal id="forgot">
        <div class="modal">
            <!-- [ngClass]="isEvent?'col-md-6 col-md-offset-3':'col-md-4 col-md-offset-4'" -->
            <div class="modal-body" class="col-md-4 col-md-offset-4">
                <div class="card">
                    <form #frmPost="ngForm" novalidate>
                        <div class="card-header card-header-icon" data-background-color="blue">
                            <h4 class="card-title">Forgot Password</h4>
                            <!-- <i class="material-icons">featured_play_list</i> -->
                        </div>
                        <div class="card-content">
                            <!-- <h4 class="alert alert-success" style="margin-top:36px">Link has been send to your Email</h4>
                            <h4 class="alert alert-danger" style="margin-top:36px">Account not associated with this Email</h4> -->
                            <h4 *ngIf="emailStatus" style="margin-top:36px" class="alert alert-success">Link has been send to your Email</h4>
                            <h4 *ngIf="sendMailStatus" style="margin-top:36px" class="alert alert-danger">Account not associated with this Email</h4>
                            <div class="col-lg-12">
                                <div class="form-group col-lg-12">
                                    <input type="email" class="form-control" placeholder="Email" name="Email" [(ngModel)]="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                    />
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="button" (click)="forgotrequest(frmPost.value, frmPost.valid,'forgot')" class="btn btn-info btn-fill btn-wd"
                                    [disabled]="!(frmPost.form.valid )">Submit</button>
                                <button class="btn btn-default" (click)="closeModal('for');">Close</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-background"></div>
    </modal>
    <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-example">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Haller</a>
            </div>
            <div class="collapse navbar-collapse" id="menu-example">
                <ul class="nav navbar-nav navbar-right">
                    <!-- <li class="">
                        <a href="/pages/register">
                            <i class="material-icons">person_add</i> Register
                        </a>
                    </li> -->
                    <li class=" active ">
                        <a href="/pages/login">
                            <i class="material-icons">fingerprint</i> Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="full-page login-page" filter-color="black" data-image="../../../assets/img/login.jpeg">
        <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
                        <form #frmLogin="ngForm" (ngSubmit)="onLogin()">
                            <div class="card card-login card-hidden">
                                <div class="card-header text-center" data-background-color="rose">
                                    <h4 class="card-title">Login</h4>
                                    <div class="social-line">
                                        <a href="/" class="btn btn-just-icon btn-simple">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                        <a href="/" class="btn btn-just-icon btn-simple">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="/" class="btn btn-just-icon btn-simple">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="card-content">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">email</i>
                                        </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Email address</label>
                                            <input type="email" name="email" [(ngModel)]="userObj.email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Password</label>
                                            <input type="password" name="password" [(ngModel)]="userObj.password" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="footer text-center">
                                    <button type="submit" [disabled]="!frmLogin.valid" class="btn btn-rose btn-simple btn-wd btn-md">Let's go</button>
                                </div>
                                <div class="footer text-center">
                                    <!-- <a style="margin-left: 36%;" (click)="forgotpassword()">Forgot Password</a> -->
                                    <button type="button" class="btn btn-rose btn-simple btn-wd btn-sm" (click)="forgotpassword()">Forgot Password?</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li><a href="/"> Home </a> </li>
                        <li> <a href="/"> Company </a> </li>
                        <li> <a href="/"> Portfolio </a> </li>
                        <li> <a href="/"> Blog </a> </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; {{test | date: 'yyyy'}}
                    <a href="/">Haller LLC,</a>
                </p>
            </div>
        </footer>
    </div>
</div>