page-messages {
    .bot-header{
         min-height: 2rem;
        text-transform: capitalize;
        background-color: color($colors,colorwhite);
        .label{
            margin: 7px 8px 7px 0;
            letter-spacing: 0rem;
            font-weight: 600;
        }
    }
    ion-scroll{
        height: 15%;
        white-space: nowrap;
        .scroll-item {
            width:150px;
            display: inline-block;
            margin: 10px;
            .item{
                background-color: color($colors,background);
                border-bottom: none;
            }
        }
    }
    // .msg-ion-content{
    //     top:31%;
    //     .fixed-content{
    //         margin-top: 0px !important;
    //     }
    //     .scroll-content{
    //         margin-top: 0px !important;
    //         border-top: none;
    //         ion-refresher{
    //             top: 0px !important;
    //         }
    //     }
        .msg-list{
            .list-header{
                min-height: 2rem;
                margin-bottom: 0px;
                text-transform: capitalize;
                background-color: color($colors,colorwhite);
                .label{
                    margin: 5px 8px 5px 0;
                    letter-spacing: 0rem;
                    font-weight: 600;
                }
            }
            .item-block{
                .ion-ios-remove-circle-outline{
                    margin: 8px 0px 8px 8px;
                }
                ion-avatar{
                    // margin-left: 10px !important;
                    // margin-right: 0px;
                    margin: 5px 0px 5px 10px;
                    img{
                        width: 40px;
                        height: 40px;
                    }
                }
                .item-inner [item-right] {
                    margin: 11px 8px 8px 8px;
                    font-size: 1.4rem;
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                }
                h2{
                    font-size: 1.4rem;
                }
                p{
                    font-size: 1.3rem;
                    width: 75%;
                }
                h2:after {
                    content: '•';
                    margin-left: 3px;
                    font-size: 18px;
                    color: color($colors,old-primary);
                }
                &.read-convo{
                    background-color: color($colors,background);
                    h2:after {
                        content: '';
                    }
                }
            }

            .item-block:last-child, .item-wrapper:last-child .item-block{
                border-bottom: none;
            }
        }
    // }
}
