page-landing {
    .spinner {
        position: absolute;
        top: 48%;
        line, circle{
            stroke: #ffffff;
            fill: #ffffff;
        }
    }
    .kepp-center{
        width: 100%;
        position: absolute;
        top: 40%;
    }
}
