<!--
  Generated template for the ProfileEdit page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary" hideBackButton>
    <ion-buttons left>
      <button ion-button (click)="goBack()">Back</button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons end>
      <button ion-button [disabled]="!userForm.valid" (click)="saveProfile(userForm.value)">Save</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="userForm">
    <ion-list>
      <ion-item>
        <ion-avatar item-left (click)="viewFullImage(userInfo.currentProfile)">
          <img class="profile-img" [src]="userInfo.currentProfile ? userInfo.currentProfile.secure_url : '../../assets/img/default-user.png'">
        </ion-avatar>
        <button ion-button clear item-right (click)="choosePicture()">Edit</button>
      </ion-item>
      <ion-item>
        <ion-label>First name</ion-label>
        <ion-input class="input-text-align-right" formControlName="firstName" placeholder="First name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Last name</ion-label>
        <ion-input class="input-text-align-right" formControlName="lastName" placeholder="Last name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Major</ion-label>
        <ion-input class="input-text-align-right" formControlName="major" placeholder="Major"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Hometown</ion-label>
        <ion-input class="input-text-align-right" formControlName="hometown" placeholder="Hometown"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Pronouns</ion-label>
        <ion-input class="input-text-align-right" formControlName="pronouns" placeholder="Pronouns"></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <ion-list>
    <ion-item class="no-bootom-border">
      <ion-label>About</ion-label>
    </ion-item>
    <ion-item>
      <ion-textarea rows="4" [(ngModel)]="userInfo.bio"></ion-textarea>
    </ion-item>
    <ion-item class="no-bootom-border">
      <ion-label>Organizations</ion-label>
    </ion-item>
    <ion-item class="org-list no-bootom-border">
      <button *ngFor="let org of userInfo.organizations" color="primary" (click)="removeOrgFromUserList(org)" icon-right ion-button
        small outline><span class="tag-text">{{org.name}}</span><ion-icon color="dark" name="close"></ion-icon></button>
      <button color="primary" icon-right ion-button small>Add<ion-icon name="add"></ion-icon></button>
    </ion-item>
    <ion-item>
      <ion-input (input)="searchOrg($event)" placeholder="Search organization"></ion-input>
    </ion-item>
    <ion-item class="org-suggetion-list" *ngIf="orgList.length > 0">
      <ion-list>
        <ion-item *ngFor="let org of orgList" (click)="addOrgToUserList(org)">
          {{org.name}}
        </ion-item>
      </ion-list>
    </ion-item>
    <ion-item class="no-bootom-border">
      <ion-label>Interests</ion-label>
    </ion-item>
    <ion-item class="org-list no-bootom-border">
      <button *ngFor="let interest of userInfo.interests" color="primary" (click)="removeInterestFromUserList(interest)" icon-right
        ion-button small outline><span class="tag-text">{{interest.name}}</span><ion-icon color="dark" name="close"></ion-icon></button>
      <button color="primary" icon-right ion-button small>Add<ion-icon name="add"></ion-icon></button>
    </ion-item>
    <ion-item>
      <ion-input (input)="searchInterest($event)" [(ngModel)]="userInterest" placeholder="Add here"></ion-input>
      <button ion-button clear item-right (click)="addInterestToUserListManual()">Add</button>
    </ion-item>
    <ion-item class="org-suggetion-list" *ngIf="interestList.length > 0">
      <ion-list>
        <ion-item *ngFor="let interest of interestList" (click)="addInterestToUserList(interest)">
          {{interest.name}}<ion-icon item-right name="add"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>