<!--
  Generated template for the FeedNew page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary" hideBackButton>
    <ion-buttons left>
      <button ion-button (click)="goBack()">Cancel</button>
    </ion-buttons>
    <ion-title>{{headerText}}</ion-title>
    <ion-buttons right>
      <button ion-button (click)="addEditFeed()">{{saveButtonText}}</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-avatar item-left>
            <!-- <img [src]="userInfo.currentProfile ? userInfo.currentProfile.secure_url : userAvatar"> -->
            <img [src]="feedProvider.httpClient.getProfileImageToDisplay(userInfo)">
          </ion-avatar>
          <h2>{{userInfo.firstName + ' ' + userInfo.lastName}}</h2>
        </ion-item>
      </ion-col>
    </ion-row>
    <!--<ion-row *ngIf="feed.discoveryFeed == true">
      <ion-col col-12>
        <ion-input type="text" [(ngModel)]="feed.title" placeholder="Is there a title?"></ion-input>
      </ion-col>
    </ion-row>-->
    <ion-row>
      <ion-col col-12>
        <ion-item>
          <ion-textarea autocomplete="on" spellcheck="on" autocorrect="on" class="post-detail" [(ngModel)]="feed.details" rows="10" placeholder="What do you want to say?"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="post-image" *ngIf="feedProvider.cloudinaryProvider && (feedProvider.cloudinaryProvider.imageLocalPath || this.feedProvider.cloudinaryProvider.gif['id'])">
      <ion-col col-12>
        <button ion-button icon-only color="dark" clear class="remove-image-btn" (click)="removeImage()"><ion-icon name="close"></ion-icon></button>
        <img *ngIf="feedProvider.cloudinaryProvider.imageLocalPath" [src]="feedProvider.cloudinaryProvider.imageLocalPath" />
        <img *ngIf="feedProvider.cloudinaryProvider.gif.gif" [src]="feedProvider.cloudinaryProvider.gif.gif.url">
      </ion-col>
    </ion-row>
    <ion-row class="post-image" *ngIf="feedProvider.cloudinaryProvider.imageLocalPath == null && feed.cover && feed.cover[0]">
      <ion-col col-12>
        <img [src]="feed.cover[feed.cover.length - 1].secure_url" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="new-post">
  <ion-row style="padding: 5px;">
    <ion-col col-4 center text-center>
      <ion-icon (click)="takePictureFromCamera()" name="camera"></ion-icon>
    </ion-col>
    <ion-col col-4 center text-center>
      <ion-icon (click)="takePictureFromPhotoLibrary()" name="images"></ion-icon>
    </ion-col>
    <ion-col col-4 center text-center>
      <ion-icon (click)="showGiphyGif()" class="icon gif-icon"></ion-icon>
    </ion-col>
  </ion-row>
</ion-footer>