page-feed-detail {
    .feed-actions{
        // border-bottom: 1px solid #f4f4f4;
        // margin: 0px 16px 0px 16px;
    }
    .process-spinner{
        ion-spinner{
            margin: 0px 0px 0px 16px !important;
        }
        .label{
            margin: 0px
        }
        min-height: 0px;
        // position: fixed;
        // z-index: 1;
        max-width: 450px;
    }
    .list > .item-block:first-child {
        border-top: 2px solid #f4f4f4;
    }
    .list > .item-block:last-child, .list > .item-wrapper:last-child .item-block {
        border-bottom: none;
    }
    .list{
        .item{
                border-bottom:none;
            }
    }
    .ev-join{
        max-width: 150px;
        width: 20vh;
        border-radius: 2px;
    }
    .comment-list{
        padding: 0PX;
        .row{        
            padding: 0px 16px 0px 16px;
        }
        .row.border-top{
            border-top: 2px solid #f4f4f4;
        }
        .item{
            -webkit-align-items: flex-start;
            -ms-flex-align: flex-start;
            align-items: flex-start;
            padding-left: 0px !important;
            .item-inner{
                padding: 0px 0px 0px 10px;
                .label{
                    margin: 11px 0px 0px 0;
                    p{
                        white-space: normal;
                        line-height: 1.2;
                    }
                    .powered-giphy {
                        // border: 1px solid #c4c4c4;
                        // border-bottom-left-radius: 5px;
                        // border-bottom-right-radius: 5px;
                    }
                }
            }
        }
        .comment-action{
            min-height: 4rem;
            .button-small[item-left],.button-small[item-right]{
                margin-bottom: 0px;
                margin-right: 0px;
            }
        }
    }
    .comment-image{
        max-height: 200px;
        max-width: 100%;
        height:auto;
        width:auto;
        display: block;
        // margin-left: auto;
        margin-right: auto
    }
    .item ion-avatar[item-left], .item ion-thumbnail[item-left]{
        margin-right: 0px;
    }
    .new-comment{
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 8px;
        .input-cover{
            position: static;
        }
        textarea,input {
            margin: 8px;
        }
    }
    .footer{
        background-color: #fff;
        padding: 5px 0px;        
        ion-col.comment-attachment{
            text-align: center;
            ion-icon{
                margin-top: 45%;
            }
        }
        .msg-attachment{
            border-top: 1px solid #e4e4e4;
            ion-col{
                text-align: center;
                // padding-top: 10px;
                // padding-bottom: 10px;
                button{
                    margin: 0px;
                }
            }
        }
        .image-to-upload{
            img{
                max-height: 200px;
                max-width: 100%;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .remove-image-btn{
                position: absolute;
                padding: 0px;
                max-width: 25px;
                max-height: 15px;
                margin-top: 10px;
                background: transparent;
                box-shadow: none;
            }
        }
    }
}
