page-feed-detail {
    .feed-actions{
        // border-bottom: 1px solid #f4f4f4;
    }
    .list > .item-block:first-child {
        border-top: 2px solid #f4f4f4;
    }
    .list > .item-block:last-child, .list > .item-wrapper:last-child .item-block {
        border-bottom: none;
    }
    .list{
        .item{
                border-bottom:none;
            }
    }
    .comment-list{
        .item{
            -webkit-align-items: flex-start;
            -ms-flex-align: flex-start;
            align-items: flex-start;            
        }
    }
    .comment-image{
        max-height: 200px;
        max-width: 100%;
        height:auto;
        width:auto;
        display: block;
        // margin-left: auto;
        margin-right: auto
    }
    .item ion-avatar[item-left], .item ion-thumbnail[item-left]{
        margin-right: 0px;
    }
    .new-comment{
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 6px;
        textarea,input {
            margin: 8px;
        }
    }
    .footer{
        background-color: #fff;
        padding: 5px;        
        ion-col.comment-attachment{
            text-align: center;
            ion-icon{
                margin-top: 45%;
            }
        }
        
        .image-to-upload{
            img{
                max-height: 200px;
                max-width: 100%;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
            .remove-image-btn{
                position: absolute;
                padding: 0px;
                max-width: 25px;
                max-height: 15px;
                margin-top: 10px;
                background: transparent;
                box-shadow: none;
            }
        }
    }
}
