<ion-header>
  <ion-navbar color="primary">
    <!--<ion-title>Notifications</ion-title>-->
    <ion-segment [(ngModel)]="whichnotification" color="colorwhite">
      <ion-segment-button value="university" (ionSelect)="changeSegment('university')">
        University
      </ion-segment-button>
      <ion-segment-button value="personal" (ionSelect)="changeSegment('personal')">
        Personal
      </ion-segment-button>
    </ion-segment>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="!userMessage">
    <ion-item *ngFor="let noti of notifications" [ngClass]="{'unread': !noti.read }" (click)="gototFeedDetail(noti)">
      <ion-avatar item-left>
        <img *ngIf="noti.lastObj && noti.lastObj.createdBy" [src]="httpClient.getProfileImageToDisplay(noti.lastObj.createdBy)">
        <img *ngIf="noti.lastObj && noti.lastObj.actedBy" [src]="httpClient.getProfileImageToDisplay(noti.lastObj.actedBy)">
        <img *ngIf="noti.university" [src]="noti.university.logo || userAvatar" />
      </ion-avatar>
      <h3>{{noti.title}}</h3>
      <p *ngIf="noti.message" [ngClass]="noti.type!=20?'unwrap-text':''">{{noti.message}}</p>
      <ion-note class="note" item-right> {{noti.createdAt | date: getDateFormate(noti.createdAt)}}</ion-note>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="userMessage">
    <ion-item>{{userMessage}}</ion-item>
  </ion-list>
</ion-content>
