<!--
  Generated template for the Feed page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar no-border-top color="primary">
    <ion-buttons left>
      <button (click)="gotoProfileSetting()" ion-button icon-only><ion-icon name="ios-settings-outline"></ion-icon></button>
    </ion-buttons>
    <ion-segment [(ngModel)]="whichfeed" color="colorwhite">
      <ion-segment-button value="residents" (ionSelect)="changeSegment('residents')">
        Hall
      </ion-segment-button>
      <ion-segment-button value="discovery" (ionSelect)="changeSegment('discovery')">
        Campus
      </ion-segment-button>
    </ion-segment>
    <ion-buttons right>
      <button (click)="gotoFeedNew()" *ngIf="allowUserToPost()" ion-button>Create</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="ios-arrow-down-outline" pullingText="Pull to refresh" refreshingSpinner="bubbles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let feed of feedList">

    <ion-item>
      <ion-avatar item-left (click)="viewProfile(feed.createdBy)">
        <!-- <img [src]="(feed.createdBy && feed.createdBy.currentProfile) ? feed.createdBy.currentProfile.secure_url : userAvatar"> -->
        <img [src]="feedProvider.httpClient.getProfileImageToDisplay(feed.createdBy)">
      </ion-avatar>
      <h2 (click)="viewProfile(feed.createdBy)">{{(feed.createdBy ? feed.createdBy.firstName : 'No One' ) + ' ' + (feed.createdBy ? feed.createdBy.lastName : 'No One')}}</h2>
      <ion-note>{{feed.createdAt | date: getDateFormatr(feed.createdAt)}}</ion-note>
      <button ion-button icon-only item-right clear small color="newlight" (click)="presentFeedActionSheet(feed)"><ion-icon ios="ios-arrow-down" md="md-arrow-dropdown" color="newlight"></ion-icon></button>
    </ion-item>
    <img *ngIf="feed.cover.length > 0" (click)="gototFeedDetail(feed)" [src]="feed.cover[feed.cover.length - 1].secure_url">
    <ion-card-content *ngIf="feed.details" (click)="gototFeedDetail(feed)">
      <p>{{feed.details}}</p>
    </ion-card-content>
    <ion-row class="action-count">
      <ion-col *ngIf="feed.liked.length > 0 || feed.comments.length > 0">
        <button style="float:left" ion-button color="dark" clear small (click)="openLikeModel(feed.liked,null)">{{feed.liked.length +' Likes'}}</button>
        <button style="float:right" ion-button color="dark" clear small (click)="openLikeModel(null,feed.comments)">{{feed.comments.length + ' Comments'}}</button>
        <!-- <span style="float:left" *ngIf="feed.liked.length > 0" (click)="openLikeModel(feed.liked,null)">{{feed.liked.length +' Likes'}}</span> -->
        <!-- <span style="float:right" *ngIf="feed.comments.length > 0" (click)="openLikeModel(null,feed.comments)">{{feed.comments.length + ' Comments'}}</span> -->
      </ion-col>
    </ion-row>
    <ion-row class="feed-actions">
      <ion-col col-4 center text-center class="have-badge">
        <button ion-button icon-left clear small color="{{feed._userLiked ? 'primary':'newlight'}}" (click)="likeFeed(feed)">
          <ion-icon name="{{feed._userLiked ? 'ios-thumbs-up':'ios-thumbs-up-outline'}}"></ion-icon>&nbsp;Like
        </button>
      </ion-col>
      <ion-col col-4 center text-center class="have-badge">
        <button ion-button icon-left clear small color="newlight" (click)="gototFeedDetail(feed)">
          <ion-icon class="icon comment-icon"></ion-icon>&nbsp;Comment
        </button>
      </ion-col>
      <ion-col col-4 center text-center>
        <button ion-button icon-left clear small color="{{feed._userStarred ? 'primary':'newlight'}}" (click)="starFeed(feed)">
          <ion-icon name="{{feed._userStarred ? 'ios-heart':'ios-heart-outline'}}"></ion-icon>&nbsp;Save</button>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
