page-feed, page-feed-detail {
    .toolbar-ios .segment-button{
        max-width: 65px;
    }
    .segment-md .segment-button{
        flex: none;
        width: 65px;
    }
    .item ion-avatar[item-left], .item ion-thumbnail[item-left]{
        margin-right: 0px;
        
    }
    .content {
        ion-card{
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
            width: 100%;
            // padding: 0px 12px 0px 12px;
            .item{
                padding-left: 16px;
            }
            .feed-actions{
                border-top: 2px solid #f4f4f4;
                // margin: 0px 16px 0px 16px;
            }
            .action-count{
                padding: 0px 11px 0px 11px;                
            }
            .card-content{
                padding-bottom: 5px;
                // padding-left: 0px;
                // padding-right: 0px;
            }
            .item{
                border-bottom:none;
            }
            box-shadow: none;
        }
    }
}